<main class="auth-page">
  <section class="auth-panel login-panel">
    <div class="brand">
     <img src="assets/images/logo-tass.png" alt="TASS Logo" class="brand-logo">
      <div>
        <h1>TASS</h1>
        <p>Iniciar sesión</p>
      </div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <label>
        Correo electrónico
        <input
          type="email"
          formControlName="correo"
          placeholder="correo@tass.com"
        />
      </label>

      @if (
        loginForm.controls.correo.invalid &&
        loginForm.controls.correo.touched
      ) {
        <small class="field-error">
          Ingresa un correo electrónico válido.
        </small>
      }

      <label>
        Contraseña
        <div class="password-field">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="password"
              [class.input-error]="isInvalid('password')"
              placeholder="Ingrese su contraseña"
            />
            <button
              type="button"
              class="password-toggle"
              (click)="passwordVisible = !passwordVisible"
            >
              {{ passwordVisible ? 'Hide Password' : 'Mostrar Contraseña' }}
            </button>
          </div>
      </label>

      @if (
        loginForm.controls.password.invalid &&
        loginForm.controls.password.touched
      ) {
        <small class="field-error">
          La contraseña es obligatoria.
        </small>
      }

      <button type="submit">Ingresar</button>
    </form>

    <p class="auth-link">
      ¿Necesitas crear una cuenta?
      <a routerLink="/registro">Crear usuario</a>
    </p>
  </section>
</main>
